body{
    background-color: #FFFFE0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: black;
}

.nav-bar ul {
    display: flex;  /* Create horizontal list*/
    flex-direction: row; /* Par defaut c'est row*/
    justify-content: center;
    padding: 30px;
    list-style-type: none;
}

li a{
    color: white;
    margin: 0px 20px; /*la premiere valeure correspond au margin-top & margin-bottom. la 2e correspond au margin-right & margin-left. */
    text-decoration: none;
}

a:hover{
    background-color: rgba(0, 136, 169, 1)
}

#contact-link {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
}

.apropos, .calend, .perso{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

.rounded{
    border-radius: 50%;
    width: 400px;
    height: auto;
}

#spring, th{
    background-color: rgb(1, 104, 248);
    color: #ffffff;
    font-weight: bold;
}

th, td{
    padding: 15px;
}

.libre{
    background-color: azure;
    width: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 50px;
    padding: 15px;
    list-style-type: none;
}

.horaire{
    background-color: rgb(0, 201, 252);
}